<% include ./partials/header.ejs%>
<diV class="ui main container segment">
   <form action="/blogs" method="POST" class="ui form">
    <div class="ui header">NEW BLOG</div>
    <div class="field">
        <label>Title</label><input type="text" name="blog[title]" placeholder="Title">
    </div>
    <div class="field">
        <label>Image</label><input type="text" name="blog[image]" placeholder="Image url">
    </div>
    <div class="field">
        <label>Content</label>
        <textarea name="blog[body]"></textarea>
    </div>
    <input type="submit" class="ui violet big basic button">
   </form>
</div>
<% include ./partials/footer.ejs%>